{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}

<div class ="row">
	<div class ="col-xs-12">
		<div class ="round-box">
		<h5>Welcome</h5>
			<p>
			Welcome to SmartCampus, an ideal place to solve your problems and help others :). In this article I will guide you through the main functions of the applications.
			These are the following:</p>
			<ul>
			<li><a href="#Creating problems">Creating problems</a></li>
			<li><a href="#Adding solutions">Adding solutions</a></li>
			<li><a href="#Accepting solutions">Accepting solutions</a></li>
			<li><a href="#Ratings">Ratings</a></li>
			<li><a href="#Ignore users">Ignore users</a></li>
			<li><a href="#Notifications">Notifications</a></li>
			<li><a href="#Reputation system">Reputation system</a></li>
			</ul>
			

			<h5 id="Creating problems">Creating problems</h5>
			<p>
			Creating problems are the main feature of the web site. 
			To do this you have click on the plus sign on the navigation bar. 
			After that you have to fill the form and click on the button bellow.
			 It's quite simple isn't it? :)
			</p>
			<div align="center">
				<img src="{{ STATIC_URL }}images/create a problem.png" height=auto/>
			</div>
			<p>There are two different kind of problems in the system, the classic problems and the confidental problems. 
			Classic problems are the casual everyday problems, while confidental problems are more sensitive, usually involves money, or other values. 
			In confidental problems you can define a minimum reputation limit, so only users with high reputation point will be able to leave solution suggestions to your problem.
			When you reach 1500 reputation point you can create your own confidental problems. :)</p>
			
			<h5 id="Adding solutions">Adding solutions</h5>
			<p>Ok, we talked about problems, but what about solutions? </p>
			<h5 id="Accepting solutions">Accepting solutions</h5>
			By accepting a solutions the amount of the required people the solve the problem will decrease by 
			the amount of the people that the solution serve. 
			When the amount of the required people will hit zero, the problem will be closed, and after it's deadline time plus one hour passes 
			ratings will appear to every users who contributed to solving the problem.
		<h5 id= "Ratings">Ratings</h5>
			<p>coming soon </p>
		<h5 id= "Ignore users">Ignore users</h5>
			<p>coming soon</p>
		<h5 id="Notifications">Notifications</h5>
			<p>come soon</p>
		<h5 id="Reputation system">Reputation system </h5>
			<p>coming soon </p>
		</div>
		
	</div>
</div>

{% endblock %}