{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}

<div class ="row">
	<div class ="col-xs-12">
		<div class ="round-box">
		<h5>Welcome</h5>
			<p>
			Welcome to SmartCampus, an ideal place to solve your problems and help others :). In this article I will guide you through the main functions of the applications.
			These are the following:</p>
			<ul>
			<li>Creating problems</li>
			<li>Adding solutions </li>
			<li>Accepting solutions </li>
			<li>Ratings </li>
			<li>Ignore users </li>
			<li>Notifications</li>
			<li>Reputation system</li>
			</ul>
		<h5>Creating problems</h5>
			<p>
			Creating problems are the main feature of the web site. 
			
			--image-- plus sign nyil form
			To do this you have click on the plus sign on the navigation bar. 
			After that you have to fill the form and click on the button bellow.
			 It's quite simple isn't it? :)
			</p>
		<h5>Adding solutions</h5>
			<p>asd </p>
		<h5>Accepting solutions</h5>
			By accepting a solutions the amount of the required people the solve the problem will decrease by 
			the amount of the people that the solution serve. 
			When the amount of the required people will hit zero, the problem will be closed, and after it's deadline time plus one hour passes 
			ratings will appear on every users who contributed to solving the problem.
		<h5>Ratings </h5>
		<h5>Ignore users </h5>
		
		<h5>Notifications </h5>
			<p>asd </p>
		<h5>Reputation system </h5>
			<p>asd </p>
		</div>
		
	</div>
</div>

{% endblock %}