{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}

<div class ="row">
	<div class ="col-xs-12">
		<div class ="round-box">
		<h5>Welcome</h5>
			<p>
			Did you ever needed someone to help you to move a couch, explain Fourier transformation, or just someone to drink a beer with? 
			Well you find the perfect place to find these people! Welcome to SmartCampus, an ideal place to solve your problems and help others :). 
			In this article I will guide you through the main functions of the application.
			These are the following:</p>
			<ul>
			<li><a href="#Creating problems">Creating problems</a></li>
			<li><a href="#Adding solutions">Adding solutions</a></li>
			<li><a href="#Accepting solutions">Accepting solutions</a></li>
			<li><a href="#Ratings">Ratings</a></li>
			<li><a href="#Notifications">Notifications</a></li>
			<li><a href="#Ignore users">Ignore users</a></li>
			<li><a href="#Reputation system">Reputation system</a></li>
			</ul>
			

			<h5 id="Creating problems">Creating problems</h5>
			<p align ="justify">
				Creating problems are the main feature of the web site. 
				To do this you have to click on the plus sign on the navigation bar. 
				After that, you have to fill the form and click on the button bellow.
			 	It's quite simple, isn't it? :)

				A problem has 7 attributes, these are:
				</p>
				<ul>
				<li>Title</li>
				<li>Place</li>
				<li>Required people</li>
				<li>Tags</li>
				<li>Deadline</li>
				<li>Description</li>
				<li>Bounty</li>
				</ul>
			<p align="justify">
				The first six attributes are mandatory, while the Bounty is optional. Problems with bounty will appear at the top of the problem list, so you might get faster responses. But beware, 
				the amount of bounty reputation will subtract from your reputation. 
				<br/>
				There are two different kind of problems in the system, the classic problems and the confidential problems. 
				Classic problems are the casual everyday problems, while confidential problems are more sensitive, usually involves money, or other values. 
				In confidential problems you can also define a minimum reputation limit, so only users with high reputation point will be able to leave solution suggestions to your problem.
				When you reach 1500 reputation point you can create your own confidential problems. :)
				<br/>
				After creating a problem you will receive 10 reputation point, and you can create 5 problems hourly.
			</p>			
			<div align="center">
					<a class="fancybox" rel="group" href="{{ STATIC_URL }}images/create a problem.png"><img src="{{ STATIC_URL }}images/create a problem.png" alt="" width=80% height=auto /></a>
			</div>
			<h5 id="Adding solutions">Adding solutions</h5>
			<p align ="justify">
				Ok, we talked about problems, but what about solutions?
				When you open a problem you can add your solution to it. 
				Adding a solution is very simple, just set the amount of the served people, and some description.(e.g.: describe your suggestion and add some contact information)
				If the problems requires more than one man, you can provide that many people in a solution.
				It is recommended, because you gain more reputation, so bring some friends along! :)
			</p>
				<div align="center">
					<a class="fancybox" rel="group" href="{{ STATIC_URL }}images/add a solution.png"><img src="{{ STATIC_URL }}images/add a solution.png" alt="" width=60% height=auto /></a>			
				</div>
			<h5 id="Accepting solutions">Accepting solutions</h5>
			<p align ="justify">
				If someone offered you a solution, you can accept it by clicking the button under the suggestion.
				By accepting a solution the amount of the required people to solve the problem will decrease by 
				the amount of the people that the solution serve. When the amount of the required people will hit zero, the problem will be closed, and after it's deadline time plus one hour passes,
				ratings will appear on every user's page who contributed to solving the problem.
			</p>
			<div align="center">
				<a class="fancybox" rel="group" href="{{ STATIC_URL }}images/accept a solution.png"><img src="{{ STATIC_URL }}images/accept a solution.png" alt="" width=60% height=auto /></a>			
			</div>
			
			<h5 id= "Ratings">Ratings</h5>
			<p align="justify">
				After the meeting, you can rate the other users who helped you, and they will rate you as well.
				You can open your pending ratings by clicking the star sign on the navigation bar.
				Rating is pretty simple you just have to answer 4 questions about the meeting, and the people who contributed and you are done! 
				After you submit your rating the system will calculate a reputation point to the other user, who helped you.
			</p>
			<div align="center">
				<a class="fancybox" rel="group" href="{{ STATIC_URL }}images/rate a user.png"><img src="{{ STATIC_URL }}images/rate a user.png" alt="" width=80% height=auto /></a>
			</div>
			<h5 id="Notifications">Notifications</h5>
			<p align="justify">
				Notifications are also very important, it helps you a lot to navigate through the pages, and let you know when something important happened!
				There are three different situations when you get a notification, these are:
			</p>
			<ul>
				<li>you get a solution suggestion to one of your problem.</li>
				<li>someone accept your solutions</li>
				<li>someone rates you</li>
			</ul>
			<p align="justify">You can always check your notifications by clicking the bell sign on the navigation bar.</p>
			
			<div align="center">
				<a class="fancybox" rel="group" href="{{ STATIC_URL }}images/notification.png"><img src="{{ STATIC_URL }}images/notification.png" alt="" width=80% height=auto /></a>
			</div>
			
			<h5 id= "Ignore users">Ignore users</h5>
			<p align="justify">
			Well this is the awkward part.
			Sometime you will encounter people who are spamming your wall, adding completely useless solutions, or just generally being jerks with you. 
			Sorry fellow, there will always be idiots. <br/><br/>That's why I added ignore function to system. You can ignore a user by clicking the ignore button on its page. 
			After that you wont see that user, or its problems or solutions anymore, but you will loose 15 reputation.
			Of course you can always unblock that user in the ignored users menu point.	
			</p>
			<div align="center">
				<a class="fancybox" rel="group" href="{{ STATIC_URL }}images/ignore a user.png"><img src="{{ STATIC_URL }}images/ignore a user.png" alt="" width=30% height=auto /></a>
			</div>
			<h5 id="Reputation system">Reputation system  </h5>
			
			<p align="justify">
			In the previous points I wrote a lot about reputation point.
			Probably you wonder why the hack we need these? 
			To understand it you have to think about it, will you rather accept a solution from a new user, who just registered and you have no guarantee to show up and actually help you (i could be also just a bot...), 
			or will you rather accept help from a trusted veteran who already helped a lot of people?
			<br/>
			So the answer is pretty simple: <i>it represent the user's reliability. </i>
			<br/><br/>
			Okay lets get into the details, more precisely gaining loosing reputation, and the limits.
			</p>
			You gain reputation when:
			<br/>
			<ul>
				<li>you register you will <i>get 100 reputation points.</i></li>
				<li>you create a problem you will <i>get 10 reputation points.</i></li>
				<li>someone rates you after solving a problem, it depends on the rating.</li>
			</ul>
			<br/>
			You loose reputation when:
			<br/>
			<ul>
				<li>you ignore someone you will <i>loose 15 reputation points.</i></li>
				<li>someone ignores you <i>loose 30 reputation points</i></li>
				<li>you attend to solving a problem and does not show up. In this case you will <i>loose the half of the maximum reputation you can get by ratings.</i></li>
				<li>you have accepted enough solutions to your problem and does not show up. <i>You will loose the half of the maximum reputation, you can get by the ratings.</i></li>
			</ul>
			<br/>
			Limits:
			<br/>
			<ul>
				<li>To create a classic problem you must have <i>50 reputation points</i></li>
				<li>To create a confidential problem you must have <i>1500 reputation points</i></li>
				<li>To add a solution to a confidential problem you must have <i>at least 1000 reputation points</i> (or more, depends on the minimum required reputation of the problem)</li>
				<li>You can add <i>5 problem hourly</i> </li>
				<li>You can get <i>maximum 200 reputation points daily.</i></li>		
			</ul>
			
			<p>You can always check your reputation points beneath your profile.</p>
		
			<div align="center">
				<a class="fancybox" rel="group" href="{{ STATIC_URL }}images/reputation.png"><img src="{{ STATIC_URL }}images/reputation.png" alt="" width=20% height=auto /></a>
			</div>			
		</div>		
	</div>
</div>
{% endblock %}


{% block script_block %}
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
	
</script>
{% endblock %}