{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}

{% if error_message %}
	<div class ="row">
		<div class ="col-xs-12">
			<div class="round-box" align="center"style="background:rgba(255,204,204,0.93);;">
				<strong>{{error_message}}</strong>		
			</div>
		</div>
	</div>
{%endif%}

{% if solution %}
	
	<div class ="row">
	<div class ="col-xs-12">
	
	<div class="round-box">
		<div align ="center">
		<strong>Are you sure, that you want to accept this solution by <a href="/users/{{ solution.user_id.userprofile.slug }}">{{solution.user_id}}</a></strong>?
		<br/>
		<strong>You cannot undo it later!</strong>
		</div>
		<br/>
               <strong>Descripton:</strong> {{solution.desc}} <br/>
               <strong>Served people:</strong>  {{solution.served_ppl}} <br/>
        <div align = "center">
        <form id="yes_button" action="/accept_solution/{{ solution.slug }}/" method="POST">
        	{% csrf_token %} 
   		<button style="width:200px" type="submit" class="btn btn-primary btn-basic">Yes, accept this solution <span class="glyphicon glyphicon-ok"></span></button>
   		
	 </form>
	 
	 <br>
	 <form id ="no_button" action="/problems/{{ solution.problem_id.slug }}">
   		<button style="width:200px" type="submit" class="btn btn-default">Cancel <span class="glyphicon glyphicon-ban-circle"></span></button>
	 </form>
	 </div>
	 </div>
	 </div>
	</div>
{% endif %}
    
{% endblock %}