{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}
<h4>
	<a href="/problems/users/{{ problem.user.userprofile }}">
		<img src="{{problem.user.userprofile.picture.url}}" width="50"/>
		<strong><a href="/problems/users/{{ problem.user }}">{{problem.user}}</a></strong>  have a problem:
	</a> 
</h4>

<h3><strong>{{problem.title}}</strong> </h3>

	{% if user.is_authenticated %}
		
		
		{% if problem %}
            
                
                <br/> <strong>Place:</strong> {{problem.place}}
                <br/> <strong>Descripton:</strong> {{problem.desc}}
                <br/> <strong>Required people:</strong> {{problem.rq_ppl}}
                <br/> <strong>Deadline:</strong> {{problem.deadline}}
                <br/> <strong>Tags:</strong>
                {% for tag in problem.tags.all %}
				<a href="/problems/tag/{{ tag.slug }}">{{tag.tag_text}}</a></strong> 
                {%endfor%} 
				<br/>
        {% endif %}
        {% if problem.status == 'in_progress' %}
	        <h4> <b style="color:lightgreen">
	            <strong>The solution of the problem is in progress</strong> </b>
	        </h4>
        {% endif %}
        {% if problem.status == 'solved' %}
	        <h4> <b style="color:green">
	            <strong>This problem is solved</strong> </b>
	        </h4>
        {% endif %}
        
        {% if solutions %}
      	  <h3>Avaible Solutions:</h3>
	        {% for solution in solutions %}
	        	<h4>
					<a href="/problems/users/{{ solution.user_id.userprofile }}">
	        			<img src="{{solution.user_id.userprofile.picture.url}}" width="50"/>
	        			<strong><a href="/problems/users/{{ solution.user_id }}">{{solution.user_id}}</a></strong>  offered a solution: 
	        		</a> 
				</h4>
				<strong>Served people:</strong> {{solution.served_ppl}} <br/>
				<strong>Description:</strong> {{solution.desc}} <br/>
	        	{%if solution.status == 'pending'%}
	            	<strong>Solution Status:</strong>  <font color="orange"><strong>{{solution.status}}</strong> </font>
	        	
	        	{%else%}
	        	<strong>Solution status:</strong>  <font color="green"><strong>{{solution.status}}</strong> </font>
	        	{%endif%}
	        
	        	{% if problem.user == user and problem.status == 'pending' %}
	        		{%if solution.status == 'pending'%}
	        		
		                <form action="/problems/accept_solution/{{ solution.slug }}">
		    				<button type="submit" class="btn btn-xs btn-success">Accept this solution</button>
						</form>
					{% endif %}	
				
                <br/>
                {% endif %}
	        {% endfor %}
        {% else %}
        	{% if problem.user == user %}
		        <h4 style="color:red">
		            <strong>No solutions yet.</strong>
		        </h5>
		    {% endif %}
        {% endif %}
        
        
        
        {% if problem.status == 'pending' %}
	        {% if problem.user != user %}
		        <h3>Add a solution!</h3>
		        <form id="solution_form" method="post" action="/problems/add_solution/{{ problem.slug }}/">
		        	{% csrf_token %} 
		            <br/> <strong>Description:</strong> <br/>{{sol_form.desc}}<br/>
		            <br/>  <strong>Served people:</strong><br/> {{sol_form.served_ppl}}<br/>		            
         			<input type = "hidden" name = "add_solution" value = "{{problem.id}}"/>
		        	<br/><button type="submit" class="btn btn-primary">Add a solution!</button> <br/>
		        </form>
		    {%endif%}
	        
	    
        {% endif %}
        
	{% else %}
		<h2>Please login, or register</h2>
	{% endif %}
{% endblock %}
