{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}	
{% if error_message %}
	<div class ="row">
		<div class ="col-xs-12 col-md-5">
			<div class="round-box" align="center"style="background:rgba(255,204,204,0.93);;">
				<strong>{{error_message}}</strong>		
			</div>
		</div>
	</div>
{%endif%}
<div class ="row">
	<div class ="col-xs-12 col-md-5">
		<div class="round-box">
		{%if below_rep_limit == false %}
	        {%if reached_problem_limit == false%}			
	        <div class="container">
	        <div class ="row">
	        	<ul class="nav nav-tabs">
				    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">Classic<br/>problem</a></li>   
				    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu1">Confidential<br/>problem</a></li>				    
				  </ul>
				  </div>

				  <div class="tab-content">
				    <div id="home" class="tab-pane fade in active">
				    
				      <br/>
				      <h3>Create a classic problem!</h3>
		        		        
				        <form id ="problem_form" method="POST">
		  					{% csrf_token %}
		  					<strong>Title:</strong><br/>
		  					<input type="text" pattern=".{1,30}" required title="1 to 30 characters" placeholder="Title" name="title">
		  					<br/>
		  					<br/>
		  					<strong>Location:</strong> <br/>
							<input type="text" class="clearText" name="location" id="classicProblemLocation" value="" size=20 autocomplete="off">
		  					<input type="hidden" name="lat" id="classicProblemLat">
							<input type="hidden" name="lng" id="classicProblemLng">
		  					<br/>
		  					<br/>
		  					<strong>Required people:</strong> <br/>
							<input type="number" required  name="rq_ppl" min="1" value = 1 >
							<br/>
		  					<br/>
		  					<strong>Tags:</strong><br/>
		  					<input type="text" pattern=".{1,}" required title="1 characters minimum" placeholder="Tags" name="tags">
		  					<br/>
		  					<br/>
		  					<strong>Deadline:</strong> <br/>
		  					<input type="datetime-local" id=classisProblemFormDateTime required name="deadline" >
		  					<br/>
		  					<br/>
		  					<strong>Description:</strong> <br/>
		  					<textarea name="desc" form="problem_form" id="classicProblemFormTextArea" pattern=".{15,500}" maxlength=500 required title="15 to 500 characters" placeholder="Some description about the problem"></textarea>
							<label name="textAreaCounter" id="classicProblemFormTextAreaCounter"></label>
							
							
							<br/>
							<br/>
							{% if user.userprofile.reputation >= bounty_limit %}
								<div  id="bountyTextBox">
								<br/>
								<p align="justify">Since you got more than {{bounty_limit}} reputation you can now add a maximum {{max_bounty}} bounty reputation to your problems.</p> <br/><br/>
								</div>
		  						<strong>Bounty:</strong> <br/>
		  						<input type="number" value ="0" name="bounty" min="0" max={{max_bounty}} >
		  						<br/>
		  						<br/>
		  					{%endif%}
		  					
		  					
							<button type="submit" class="btn btn-primary btn-basic">Create a problem</button>
		
						</form>  
				    </div>
				    <div id="menu1" class="tab-pane fade">
				      <br/>
				      {% if user.userprofile.reputation >= confidence_problem_repu_limit %}
				      <h3>Create a confidential problem!</h3>
		        		        
				        <form id ="conf_problem_form" method="POST">
		  					{% csrf_token %} 
		  					<strong>Title:</strong><br/>
		  					<input type="text" pattern=".{1,30}" required title="1 to 30 characters" placeholder="Title" name="title">
		  					<br/>
		  					<br/>
		  					<strong>Minimum required reputation:</strong> <br/>
							<input type="number" name="rq_repu" min="1000" value = 1000 >
							<br/>
		  					<br/>
		  					<strong>Location:</strong> <br/>
							<input type="text" class="clearText" name="location"  id="confidenceProblemLocation" size=20 autocomplete="off">
							<input type="hidden" name="lat" id="confidenceProblemLat">
							<input type="hidden" name="lng" id="confidenceProblemLng">
		  					<br/>
		  					<br/>
		  					<strong>Required people:</strong> <br/>
							<input type="number" required  name="rq_ppl" min="1" value = 1 >
							<br/>
		  					<br/>
		  					<strong>Tags:</strong><br/>
		  					<input type="text" pattern=".{1,}" required title="1 characters minimum" placeholder="Tags" name="tags">
		  					<br/>
		  					<br/>
		  					<strong>Deadline:</strong> <br/>
		  					<input type="datetime-local" id=confProblemFormDateTime required  name="deadline" >
		  					<br/>
		  					<br/>
		  					<strong>Description:</strong> <br/>
		  					<textarea name="desc" form="conf_problem_form" id="confProblemFormTextArea"  pattern=".{15,500}" maxlength=500 required title="15 to 500 characters"  placeholder="Some description about the problem"></textarea>
							<label name="textAreaCounter" id="confProblemFormTextAreaCounter" ></label>
							<br/>
							<br/>
	  						<strong>Bounty:</strong> <br/>
	  						<input type="number" value ="0" name="bounty" min="0" max={{max_bounty}} >
	  						<br/>
	  						<br/>				
							<button type="submit" class="btn btn-primary btn-basic">Create a problem</button>
						</form>
						{%else%}
						 
						 <p align="justify"> You don't have enough reputation point to create a confidential problem.</p>
						
						{%endif%}
				    </div>

				  </div>
			</div>
	
	        {%else%}
	        	<strong>You reached your hourly problem limit</strong>
	        {%endif%}
		{%else%}
        	<strong>You cannot create a problem with low reputation. You should help others first</strong>
        {%endif%}

</div>
</div>
	<div class="col-md-7">
		<div class="round-box">
			<div id="map_canvas"></div>
		</div>
	</div>
</div>
{% endblock %}
{% block script_block %}
<script src="{% static 'js/onAddProblemPage.js'%}"></script> 
{% endblock %}
