{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block clear_block %}
{% if user.is_authenticated == False %}
		<div align=center>
		<div class="round-box">
		<h2>Welcome to SmartCampus!</h2>
		<h2>Please <a href="{% url 'login' %}">Login</a>, or <a href="{% url 'register' %}">Register Here</a></h2> 
		<h2>Or login with <a href = '{% url 'social:begin' 'facebook' %}?next={{ request.path }}'>Facebook</a></h2>	
		</div>
		</div>
{%endif%}
{% endblock %}
{% block body_block %}
{% if user.is_authenticated %}

<div class="row">
	<div class ="col-xs-12" align = "center">
	<div class="round-box">
		<div id="tagCloud"></div>
	</div>
	</div>
</div>

<br/>

<div class = "row">
	<div class = "col-xs-12">
		<div class="round-box">
		<div align ="center">
		<p><strong>Set a maximum distance for the problems from you:</strong></p>
		</div>
			<div class="range range-success">
					{% csrf_token %}
					<input type="range" name = "distanceRange" id = "distanceRange" value="{{user.userprofile.max_problem_distance}}" min="1" max="50" oninput="distanceRangeOutput.value = distanceRange.value+' km'" onchange="postProblemDistance(value)">
					<output name="distanceRangeOutput" id="distanceRangeOutput">{{user.userprofile.max_problem_distance}}km</output>

			</div>
		</div>
	</div>
	<br/>
</div>

<br/>

<div class="row">	
	<div id="classic_problem_list"></div>
	<div id="confidence_problem_list"></div>
</div>

<form action="/outdated/">
	    <button type = "submit" class="btn btn-default">Outdated problems</button>
	</form>
	
<div id="add-button-mobile"></div>
{%endif%}
{% endblock %}

{% block script_block %}
<script src="{% static 'js/onIndexPage.js'%}"></script>
<script src="{% static 'js/postProblemDistance.js'%}"></script>
{%endblock%}

