{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
        <h1>Login</h1>

        <form id="login_form" method="post" action="/problems/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br /> <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

{% endblock %}
