{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block clear_block %}
<div class ="row">
<div class ="col-xs-12">
<div class="round-box" align = "center">
        <h1>Login</h1>

        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            <strong>Username: </strong>
            <br/>
            <input type="text" name="username" value="" />
            <br /> <br />
            <strong>Password:</strong> 
            <br/>
            <input type="password" name="password" value="" />
            <br />
            <br />
            <button type = "submit" class="btn btn-primary btn-basic">Login</button>
        </form>
</div>
</div>
</div>

{% endblock %}

