{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}
<br/>
	{% if user.is_authenticated %}
			
		{% if unchecked_notifications %}
		<h4><font color="green"><strong> Your new notifications:</strong></font></h4>
			
			{% for unchecked_notification in unchecked_notifications %}
			
			{%if unchecked_notification.content_type.model ==  "rating"%}
					
				{% if unchecked_notification.obj.type == "rate solution author" %}
				<h4>
				<a href="/problems/users/{{ unchecked_notification.obj.user.userprofile }}">
	        	<img src="{{unchecked_notification.obj.user.userprofile.picture.url}}" width="50"/>
	        	<strong><a href="/problems/users/{{ unchecked_notification.obj.user.userprofile}}">{{unchecked_notification.obj.user.userprofile}}</a></strong> 
	        	rated your help in his problem: 
	        	</a>
	        	<strong><a href="/problems/add_solution/{{ unchecked_notification.obj.solution.problem_id.slug }}">{{  unchecked_notification.obj.solution.problem_id.title}}</a>,</strong> 
			    you gained {{unchecked_notification.obj.reputation}} reputation
			    </h4>
				
				{%else%}
				
				<h4>
				<a href="/problems/users/{{ unchecked_notification.obj.user.userprofile }}">
	        	<img src="{{unchecked_notification.obj.user.userprofile.picture.url}}" width="50"/>
	        	<strong><a href="/problems/users/{{ unchecked_notification.obj.user.userprofile}}">{{unchecked_notification.obj.user.userprofile}}</a></strong> 
	        	rated you, after the helping in your problem: 
	        	</a>
	        	<strong><a href="/problems/add_solution/{{ unchecked_notification.obj.solution.problem_id.slug }}">{{  unchecked_notification.obj.solution.problem_id.title}}</a>,</strong> 
			    you gained {{unchecked_notification.obj.reputation}} reputation
			    </h4>
				{%endif%}
				
				<br/>
			
			{%endif%}
			
			{%if unchecked_notification.content_type.model ==  "solution"%}
				
				
				{% if unchecked_notification.obj.user_id == user %}
				<h4>
				<a href="/problems/users/{{ unchecked_notification.obj.problem_id.user.userprofile }}">
	        	<img src="{{unchecked_notification.obj.problem_id.user.userprofile.picture.url}}" width="50"/>
	        	<strong><a href="/problems/users/{{ unchecked_notification.obj.problem_id.user.userprofile}}">{{unchecked_notification.obj.problem_id.user.userprofile}}</a></strong> 
	        	accepted your solution, to its problem:
	        	</a>
	        	<strong><a href="/problems/add_solution/{{ unchecked_notification.obj.problem_id.slug }}">{{  unchecked_notification.obj.problem_id.title}}</a>.</strong> 
			    </h4>
				
				{% else %}
				
				<h4>
				<a href="/problems/users/{{ unchecked_notification.obj.user_id.userprofile }}">
	        	<img src="{{unchecked_notification.obj.user_id.userprofile.picture.url}}" width="50"/>
	        	<strong><a href="/problems/users/{{ unchecked_notification.obj.user_id.userprofile}}">{{unchecked_notification.obj.user_id.userprofile}}</a></strong> 
	        	offered you a solution to your problem:
	        	</a>
	        	<strong><a href="/problems/add_solution/{{ unchecked_notification.obj.problem_id.slug }}">{{  unchecked_notification.obj.problem_id.title}}</a>.</strong> 
			    </h4>
				
				{%endif%}
			{%endif%}
			
        	{% endfor %}
			
			
			
        {%endif%}
        {% if checked_notifications %}
		<h4><font color="grey"><strong> Your former notifications:</strong></font></h4>
			{% for checked_notification in checked_notifications %}
			
			{%if checked_notification.content_type.model ==  "rating"%}
					
				{% if checked_notification.obj.type == "rate solution author" %}
				<h4>
				<a href="/problems/users/{{ checked_notification.obj.user.userprofile }}">
	        	<img src="{{checked_notification.obj.user.userprofile.picture.url}}" width="50"/>
	        	<strong><a href="/problems/users/{{ checked_notification.obj.user.userprofile}}">{{checked_notification.obj.user.userprofile}}</a></strong> 
	        	rated your help in his problem: 
	        	</a>
	        	<strong><a href="/problems/add_solution/{{ checked_notification.obj.solution.problem_id.slug }}">{{  checked_notification.obj.solution.problem_id.title}}</a>,</strong> 
			    you gained {{checked_notification.obj.reputation}} reputation
			    </h4>
				
				{%else%}
				
				<h4>
				<a href="/problems/users/{{ checked_notification.obj.user.userprofile }}">
	        	<img src="{{checked_notification.obj.user.userprofile.picture.url}}" width="50"/>
	        	<strong><a href="/problems/users/{{ checked_notification.obj.user.userprofile}}">{{checked_notification.obj.user.userprofile}}</a></strong> 
	        	rated you, after the helping in your problem: 
	        	</a>
	        	<strong><a href="/problems/add_solution/{{ checked_notification.obj.solution.problem_id.slug }}">{{  checked_notification.obj.solution.problem_id.title}}</a>,</strong> 
			    you gained {{checked_notification.obj.reputation}} reputation
			    </h4>
				{%endif%}
				
			
			{%endif%}
			
			{%if checked_notification.content_type.model ==  "solution"%}
				
				
				{% if checked_notification.obj.user_id == user %}
				<h4>
				<a href="/problems/users/{{ checked_notification.obj.problem_id.user.userprofile }}">
	        	<img src="{{checked_notification.obj.problem_id.user.userprofile.picture.url}}" width="50"/>
	        	<strong><a href="/problems/users/{{ checked_notification.obj.problem_id.user.userprofile}}">{{checked_notification.obj.problem_id.user.userprofile}}</a></strong> 
	        	accepted your solution, to its problem:
	        	</a>
	        	<strong><a href="/problems/add_solution/{{ checked_notification.obj.problem_id.slug }}">{{  checked_notification.obj.problem_id.title}}</a>.</strong> 
			    </h4>
				
				{% else %}
				
				<h4>
				<a href="/problems/users/{{ checked_notification.obj.user_id.userprofile }}">
	        	<img src="{{checked_notification.obj.user_id.userprofile.picture.url}}" width="50"/>
	        	<strong><a href="/problems/users/{{ checked_notification.obj.user_id.userprofile}}">{{checked_notification.obj.user_id.userprofile}}</a></strong> 
	        	offered you a solution to your problem:
	        	</a>
	        	<strong><a href="/problems/add_solution/{{ checked_notification.obj.problem_id.slug }}">{{  checked_notification.obj.problem_id.title}}</a>.</strong> 
			    </h4>
				
				{%endif%}
			{%endif%}
			
			
        	{% endfor %}
        {%endif%}

        
	{% else %}
		<h2>Please <a href="{% url 'login' %}">Login</a>, or <a href="{% url 'register' %}">Register Here</a></h2> 
	{% endif %}
{% endblock %}
