{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}
	{% if user.is_authenticated %}
		
		{% if pending_problems %}
		<h4><font color="blue"><strong> Your pending problems:</strong></font></h4>
			{% for problem in pending_problems %}
	              	<h4>
						 <a href="/problems/users/{{ problem.user.userprofile }}">
	        				<img src="{{problem.user.userprofile.picture.url}}" width="50"/>
	        				<strong><a href="/problems/users/{{ problem.user }}">You</a></strong>  posted a problem: 
	        			 </a>
				         <strong><a href="/problems/add_solution/{{ problem.slug }}">{{ problem.title }}</a></strong> 
				    </h4>
					<h4><strong>Description:</strong> {{problem.desc}}</h4>
					<h4><strong>Posted on:</strong> {{problem.pub_date}}</h4>
					<h4><strong>Deadline:</strong> {{problem.deadline}}</h4>
					<br/>
        	{% endfor %}
        {%endif%}
        
        {% if in_progress_problems %}
        <h4><font color="orange"><strong>Your in progress problems:</strong></font></h4>
        	{% for problem in in_progress_problems %}
              	<h4>
					<a href="/problems/users/{{ problem.user.userprofile }}">
	        			<img src="{{problem.user.userprofile.picture.url}}" width="50"/>
	        			<strong><a href="/problems/users/{{ problem.user }}">You</a></strong>  posted a problem: 
	        		</a>
					<strong><a href="/problems/add_solution/{{ problem.slug }}">{{ problem.title }}</a></strong> 
				</h4>
			    <h4><strong>Description:</strong> {{problem.desc}}</h4>
				<h4><strong>Posted on:</strong> {{problem.pub_date}}</h4>
				<h4><strong>Deadline:</strong> {{problem.deadline}}</h4>
				<br/>
            {% endfor %}
        {% endif %}
        
        {% if solved_problems %}
        <h4><font color="grey"><strong>Your solved problems:</strong></font></h4>
        	{% for problem in solved_problems %}
              	<h4>
					<a href="/problems/users/{{ problem.user.userprofile }}">
	        			<img src="{{problem.user.userprofile.picture.url}}" width="50"/>
	        			<strong><a href="/problems/users/{{ problem.user }}">You</a></strong>  posted a problem: 
	        		</a>
					<strong><a href="/problems/add_solution/{{ problem.slug }}"style="color:grey">{{ problem.title }}</a></strong> 
				</h4>
			    <h4><strong>Description:</strong> {{problem.desc}}</h4>
				<h4><strong>Posted on:</strong> {{problem.pub_date}}</h4>
				<h4><strong>Deadline:</strong> {{problem.deadline}}</h4>
				<br/>

            {% endfor %}
        {% endif %}
        
	{% else %}
		<h2>Please <a href="{% url 'login' %}">Login</a>, or <a href="{% url 'register' %}">Register Here</a></h2> 
	{% endif %}
{% endblock %}
