{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}

<style>
		input[type="number"]
		{
				width:100%;
		}
		
		textarea
		{
				width:100%;
				height:150px;
		}
</style>
{% if error_message %}
	<div class ="row">
		<div class ="col-xs-12">
			<div class="round-box" align="center"style="background:rgba(255,204,204,0.93);;">
				<strong>{{error_message}}</strong>		
			</div>
		</div>
	</div>
{%endif%}
{% if problem %}
<div class ="row">
	<div class="col-xs-12">
		<div class="round-box">
			<div class="row">
				<div class= "col-xs-12 col-md-6">
					<div class="row">
						<div class="col-xs-1">
								<a href="/users/{{ problem.user.userprofile.slug }}">
									<img src="{{problem.user.userprofile.picture_url}}" width="50"/>
								</a>
						</div>
						<div class ="col-xs-9 col-md-9 col-lg-9">
							<div class ="name-and-link-container">
							<p>
								<strong>{{problem.title}}</strong>
								<br/>
								
								<i><small>by: <strong><a href="/users/{{ problem.user.userprofile.slug }}" id="user-link-element">{{problem.user}}</a></strong></small></i>
								
							</p>
							</div>
						</div>
					</div>
				</div>
			</div>
				
		                <p align="justify">
		                <strong>Place:</strong> {{problem.place}}
		                <br/>
		                <strong>Descripton:</strong> {{problem.desc}}
		                <br/>
		                <strong>Required people:</strong> {{problem.rq_ppl}}
		                <br/>
		                <strong>Deadline:</strong> {{problem.deadline}}
		                {% if problem.confidence_problem.min_rq_reputation %}
		                <br/> <strong>Minimum required reputation:</strong> {{problem.confidence_problem.min_rq_reputation}}
		                {% endif %}
		                
		                <br/> <strong>Tags:</strong>
		                {% for tag in problem.tags.all %}
							<strong><a href="/tag/{{ tag.slug }}">{{tag.tag_text}}</a></strong>
		                {%endfor%} 
		                {%if problem.bounty %} 
		                		<br/>            					
		               			<font color="green"><strong>Bounty:{{problem.bounty}}</strong></font> <font size="2"> <span class="glyphicon glyphicon-gift"></span></font>
		               	{%endif%}
		               	<p/>
		        
		        {% if problem.status == 'in_progress' %}
			        <b style="color:lightgreen">
			            <strong>The solving of the problem is in progress</strong> 
			        </b>
			        
		        {% endif %}
		        {% if problem.status == 'solved' %}
			        <b style="color:green">
			            <strong>This problem is solved</strong> 
			        </b>
		        {% endif %}
        
		</div>     
	</div>
</div>
<br/>
{% endif %}   
{% if solutions %}
	{% for solution in solutions %}
	   <div class="row">
	      <div class="col-xs-12">
	       <div class="round-box">
		       	<div class="row">
					<div class= "col-xs-12 col-md-6">
						<div class="row">
							<div class="col-xs-1">
									<a href="/users/{{ solution.user_id.userprofile.slug }}">
										<img src="{{solution.user_id.userprofile.picture_url}}" width="50"/>
									</a>
							</div>
							<div class ="col-xs-9 col-md-9 col-lg-9">
								<div class ="name-and-link-container">
								<p>
									Solution
									<br/>
									<i><small>by: <strong><a href="/users/{{ solution.user_id.userprofile.slug}}" id="user-link-element">{{solution.user_id}}</a></strong></small></i>				
								</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			<p align ="justify">
			<strong>Served people:</strong> {{solution.served_ppl}} <br/>
			<strong>Description:</strong> {{solution.desc}}
	       	<br/>
	       	{%if solution.status == 'pending'%}
	           	<strong>Status:</strong>  <font color="orange"><strong>{{solution.status}}</strong> </font>
	       	{%else%}
	       		<strong>Status:</strong>  <font color="green"><strong>{{solution.status}}</strong> </font>
	       	{%endif%}
	       	
	       	{%if solution.user_id == user and solution.status == 'pending'%}
	       		<br/>
	       		<strong><a href="/edit_solution/{{ solution.slug }}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>  Edit </a> </strong>
	       	{%endif%}
	       	</p>
	       	{% if problem.user == user and problem.status == 'pending' %}
	       		{%if solution.status == 'pending'%}
	       		
	                <form action="/accept_solution/{{ solution.slug }}">
	                	 <div align="left">
	    				<button type="submit" class="btn btn-primary btn-basic-small">Accept</button>
	    				</div>
					</form>
				{% endif %}
	         {% endif %}
	              </div>
	         </div>
	       </div>
	              <br/>
	{% endfor %}
{% else %}
    {% if problem.user == user %}
     <div class="row">
      	<div class="col-xs-12">
       	 <div class="round-box">
	        <div style="color:#C8C8C8">
	            <b>There are no solutions yet.</b>
	        </div>
	     </div>
     </div>
    </div>
   {% endif %}
{% endif %}
        
        
    
{% if problem.status == 'pending' %}
	{% if problem.user != user %}	        
		{%if user_added_solution == False %}
		        	<div class="row">
			        	<div class="col-xs-12">
			        		<div class="round-box">
						        {% if problem.confidence_problem.min_rq_reputation %}
			                		{% if user.userprofile.reputation >= problem.confidence_problem.min_rq_reputation %}
			                			<h3>Add a solution!</h3>
								        <form id="conf_solution_form" method="POST" >			        	
								        	{% csrf_token %} 
								        	
								        	<input type = "hidden" name = "problems" value = "{{problem.id}}"/>
								            <strong>Served people:</strong> <br/>
											<input type="number" name="served_ppl" required  min="1" max = "{{problem.rq_ppl}}"value = 1 >
								        	<br/>
					  						<br/>
					  						<textarea name="desc" form="conf_solution_form" id="confSolutionFormTextArea" pattern=".{15,500}" maxlength=500 required title="15 to 500 characters" placeholder ="Some description about the solution"></textarea>
											<label name="textAreaCounter" id="confSolutionFormTextAreaCounter"></label>
											<br/>
											<br/>
											
											<br/><button type="submit" class="btn btn-primary btn-basic">Add a solution!</button> <br/>		
								        </form>
			                		{%else%}
			                			<strong>You don't have enough reputation to solve this problem</strong>
			                		{%endif%}
						        {%else%}
		
							        <h3>Add a solution!</h3>
							        <form id="solution_form" method="POST" >			        	
							        	{% csrf_token %} 
							        	
							        	<input type = "hidden" name = "problems" value = "{{problem.id}}"/>
							            <strong>Served people:</strong> <br/>
										<input type="number" name="served_ppl" required  min="1" max = "{{problem.rq_ppl}}" value = 1>
							        	<br/>
				  						<br/>
				  						<textarea name="desc" form="solution_form" pattern=".{15,500}"  id="classicSolutionFormTextArea" maxlength=500 required title="15 to 500 characters" placeholder ="Some description about the solution"></textarea>
										<label name="textAreaCounter" id="classicSolutionFormTextAreaCounter"></label>
										<br/>
										<br/>
										<br/><button type="submit" class="btn btn-primary btn-basic">Add a solution!</button> <br/>		
							        </form>   
						        {%endif%}
						        </div>
						    </div>
				        </div>
		{% endif %}
	{%endif%}
{%endif%}


{% endblock %}

