{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}


<div id="rate_solution_authors"></div>
<div id="rate_problem_authors"></div>

<div class="row">
	<div class ="col-xs-12">
		{% if rate_solution_authors %}
			{% for rate_solution_author  in rate_solution_authors %}
			
			<div class="row">
			<div class="col-xs-12">
			<div class="round-box"> 
			
					<a href="/users/{{ rate_solution_author.rated_user.userprofile.slug }}">
		        		<img src="{{rate_solution_author.rated_user.userprofile.picture_url}}" width="50"/>
		        	</a>
		        	
		        	<strong><a href="/users/{{ rate_solution_author.rated_user.userprofile.slug }}">{{rate_solution_author.rated_user}}</a></strong>  
		        		offered a solution to your problem:
		        		<strong><a href="/problems/{{ rate_solution_author.solution.problem_id.slug }}"> {{ rate_solution_author.solution.problem_id.title }} </a></strong>
		        	<br/>
		        	<form id = "rate_sol_auth_from_singl" action="" method="POST">
		        		{% csrf_token %}
		        		{{rate_problem_author.pk}}
		        		<input type = "hidden" name = "rate_solution_author" value = "{{rate_solution_author.pk}}"/>
		        		
		        		{%if rate_solution_author.solution.served_ppl == 1 %}
		        		<strong>Has {{rate_solution_author.rated_user}} appeared?</strong>
	  					<br/>
	  					<input type="radio" name="appeared" value="no">no &nbsp;
	  					<input type="radio" name="appeared" value="yes" checked>yes
	  					{%else%}
	  					<strong>How many people did {{rate_solution_author.rated_user}} serve? (between 0 and {{rate_solution_author.solution.served_ppl}})</strong>
						<br/>
  						<input type="number" name="appeared_people" min="0" max="{{rate_solution_author.solution.served_ppl}}">
  						{%endif%}
						<br/>
						<strong>Rate {{rate_solution_author.rated_user}}'s behavior!</strong>
	  					<br/>
		  				<div class = "row">
		  					<div class = "col-xs-8">
				  				<div class="range range-success">
			            			<input type="range" id="solAuthRangeBehavior{{rate_solution_author.pk}}" name="behaviour" min="1" max="3" value="2" onchange="changeSlider(id)">
			            			<output id="solAuthRangeBehavior{{rate_solution_author.pk}}Window"><i class="fa fa-meh-o" aria-hidden="true"></i></output>
								</div>
							</div>
						</div>
						<strong>How helpful was it?</strong>
		  				<div class = "row">
		  					<div class = "col-xs-8">
				  				<div class="range range-success">
			            			<input type="range" id="solAuthRangeHelpful{{rate_solution_author.pk}}" name="helpful" id="range" min="1" max="3" value="2" onchange="changeSlider(id)">
			            			<output id="solAuthRangeHelpful{{rate_solution_author.pk}}Window"><i class="fa fa-meh-o" aria-hidden="true"></i></output>
								</div>
							</div>
						</div>
						<strong>Will you accept any further help from {{rate_solution_author.rated_user}}?</strong>
	  					<br/>
		  				<div class = "row">
		  					<div class = "col-xs-8">
				  				<div class="range range-success">
			            			<input type="range" id="solAuthRangeFurtherHelp{{rate_solution_author.pk}}" name="further_help" min="1" max="3" value="2" onchange="changeSlider(id)">
			            			<output id="solAuthRangeFurtherHelp{{rate_solution_author.pk}}Window"><i class="fa fa-meh-o" aria-hidden="true"></i></output>
								</div>
							</div>
						</div>
						<br/>
	  					<button type="submit" class="btn btn-primary btn-basic">Rate {{rate_solution_author.rated_user}}</button>						
					</form>
					</div>
					</div>
					</div>
						<br/>
		        {% endfor %}
		{% endif %}
		</div>		
	</div>
	<div class="row">
		<div class ="col-xs-12">
		{% if rate_problem_authors %}
			{% for rate_problem_author in rate_problem_authors %}
			<div class="row">
			<div class="col-xs-12">
			<div class="round-box"> 
				<a href="/users/{{ rate_problem_author.rated_user.userprofile.slug }}">
		        	<img src="{{rate_problem_author.rated_user.userprofile.picture_url}}" width="50"/>
		        </a>
		        <strong><a href="/users/{{ rate_problem_author.rated_user.userprofile.slug }}">{{ rate_problem_author.rated_user}}</a></strong>  had a problem:
		        <strong><a href="/problems/{{ rate_problem_author.solution.problem_id.slug }}"> {{ rate_problem_author.solution.problem_id.title }}</a></strong>,		        	
		        <form id = "rate_probl_auth_form" action="" method="POST">
		        		{% csrf_token %}
		        		<input type = "hidden" name = "rate_problem_author" value = "{{rate_problem_author.pk}}"/>
		        		<strong>Has {{rate_problem_author.rated_user}} appeared?</strong>
						<br/>  					
	  					<input type="radio" name="appeared" value="no">no &nbsp;
	  					<input type="radio" name="appeared" value="yes" checked>yes
						<br/>
						
						<strong>Please rate {{rate_problem_author.rated_user}}'s behavior</strong>

	  					
		  				<div class = "row">
		  					<div class = "col-xs-8">
				  				<div class="range range-success">
			            			<input type="range" id ="probAuthRangeBehavior{{rate_problem_author.pk}}" name="behaviour" min="1" max="3" value="2" onchange="changeSlider(id)">
			            			<output id="probAuthRangeBehavior{{rate_problem_author.pk}}Window"><i class="fa fa-meh-o" aria-hidden="true"></i></output>
								</div>
							</div>
						</div>
					
						<strong>Has the problem fitted to the description?</strong>
	  					
		  				<div class = "row">
		  					<div class = "col-xs-8">
				  				<div class="range range-success">
			            			<input type="range" id = "probAuthRangeHelpful{{rate_problem_author.pk}}" name="helpful" min="1" max="3" value="2" onchange="changeSlider(id)">
			            			<output id="probAuthRangeHelpful{{rate_problem_author.pk}}Window"><i class="fa fa-meh-o" aria-hidden="true"></i></output>
								</div>
							</div>
						</div>
					
						<strong>Will you help {{rate_problem_author.rated_user}} in the future?</strong>
	
		  				<div class = "row">
		  					<div class = "col-xs-8">
				  				<div class="range range-success">
			            			<input type="range" id = "probAuthRangeFurtherHelp{{rate_problem_author.pk}}" name="further_help" min="1" max="3" value="2" onchange="changeSlider(id)">
			            			<output id="probAuthRangeFurtherHelp{{rate_problem_author.pk}}Window"><i class="fa fa-meh-o" aria-hidden="true"></i></output>
								</div>
							</div>
						</div>
						<br/>
	  					<button type="submit" class="btn btn-primary btn-basic">Rate {{rate_problem_author.rated_user}} </button>
				</form>
					</div>
					</div>
					</div>
					<br/>
		        
		        {% endfor %}
		{% endif %}
		</div>
		
		{% if not rate_problem_authors and not rate_solution_authors %}
		<div class ="col-md-6 col-xs-12">
		<div class="round-box">
			<h7>You don't have to rate anybody right now :)</h7>
		</div>
		{% endif %}
		</div>
</div>
{% endblock %}

{% block script_block %}
<script src="{{ STATIC_URL }}js/onRatingsPage.js"></script>
<script src="{{ STATIC_URL }}js/changeSlider.js"></script>
{%endblock%}
