<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ STATIC_URL }}icon.ico">
    <title>SmartCampus{% block title %}{% endblock %}</title>

    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}dashboard.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/problems">SmartCampus</a>	
        </div>
        
 		<div class="collapse navbar-collapse navbar-ex1-collapse">
				    	<div class="col-sm-6 col-md-6">
				    	{% if user.is_authenticated %}
				    	
					    	<form class="navbar-form" role="search" method="get" id="search-form" name="search-form" action="/problems/search"/>								
						        <div class="input-group" >
						            <input type="text" style="resize:horizontal; width:500px" class="form-control" placeholder="Search" id="query" name="query" value="">
							            <div class="input-group-btn">
						            		<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
						            	</div>
						        </div>
					        </form>
					    
					    {% endif %}
				        </div>
		
						<ul class="nav navbar-nav navbar-right">
							<li><a href="{% url 'register' %}">User guide</a></li>
							{% if user.is_authenticated %}
                       		<li><a href="{% url 'ignored_users' %}">Ignored users</a></li>
                        	<li><a href="/problems/logout/">Logout</a></li>
                    		{% else %}
                        	<li><a href="{% url 'register' %}">Register Here</a></li>
                        	<li><a href="{% url 'login' %}">Login</a></li>
                    		{% endif %}
						</ul>
		 </div>
			
        
        
        
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-3 sidebar"> 
	        	{% if user.is_authenticated %}
	        	<div align="center">
		        	{% if user.userprofile.picture %}	
		        	<a href="/problems/users/{{ user }}">
		        		<img src="{{user.userprofile.picture.url}}" width="200"/> <!-- New line -->
		        	</a>
		        	{% endif %}
		        	<br>
		        	<h1>{{user.username}} </h1>
		        	
		        	{%if user.userprofile.reputation > 50 %}
		        	<form action="{% url 'add_problem' %}">
		    			 <button type="submit" class="btn btn-primary btn-primary btn-block">Create a problem <span class="glyphicon glyphicon-plus"></span></button>
					</form>
					{%else%}
					
					
					<form action="{% url 'add_problem' %}">
		    			 <button type="submit" class="btn btn-default btn-block">Create a problem <span class="glyphicon glyphicon-plus"></span></button>
					</form>
			
					{% endif %}
					
					<br>
					<form action="{% url 'own_problems' %}">
		    			 <button type="submit" class="btn btn-primary btn-primary btn-block">My problems</button>
					</form>
					<br>
					{% if user.userprofile.notification_number == 0 %}
					<form action="{% url 'notification' %}">
		    			 <button type="submit" class="btn btn-primary btn-primary btn-block">Notifications</button>
					</form>
					
					{% else %}
					<form action="{% url 'notification' %}">
		    			 <button type="submit" class="btn btn-primary btn-success btn-block">Notifications + {{user.userprofile.notification_number}} <span class="glyphicon glyphicon-bell"></span></button>
					</form>
					{% endif %}
					
					<br/>
					{% if user.userprofile.rating_number == 0 %}
					<form action="{% url 'rate' %}">
		    			 <button type="submit" class="btn btn-primary btn-primary btn-block">Ratings</button>
					</form>
					
					{% else %}
					<form action="{% url 'rate' %}">
		    			 <button type="submit" class="btn btn-primary btn-success btn-block">Ratings + {{user.userprofile.rating_number}} <span class="glyphicon glyphicon-bell"></span></button>
					</form>
					{% endif %}
					<br/>
					
					
					
					<br/>
					<h4>Your current reputation: {{user.userprofile.reputation}}</h4>
					
        		</div>
        	
        	<div align="right">
        		<br/><here>here</here>
        	</div>
        	<meta charset="utf-8">
			
			
			place for word cloud
        	{% endif %}
                {% block side_block %}{% endblock %}

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
           <div>
           	<h2>SmartCampus</h2>        	
                {% block body_block %}{% endblock %}
                </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ STATIC_URL }}ie10-viewport-bug-workaround.js"></script>
  </body>
</html>